@import "tailwindcss";

@font-face {
  font-family: "Vazirmatn";
  src: url("/fonts/Vazir-Regular-FD.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@layer base {
  html {
    font-family: "Vazirmatn", system-ui, sans-serif;
  }

  body {
    font-family: "Vazirmatn", system-ui, sans-serif;
  }
}
